<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레코드 수정</title>
    <style>
        label {display:block}
        * {text-align: center;}
    </style>
</head>
<body>
    <h1>레코드 수정</h1>
    <hr>
    <form action="/country_update_pro" method="post">
        <input type="hidden" name="c_no" value={{ temp_dic.No }}>
        <label>CODE : {{ temp_dic.Code }} </label>
        <label>NAME : {{ temp_dic.Name }} </label>
        <label>GNP : <input type="text" name="c_gnp" value={{ temp_dic.GNP }} required ></label>
        <label>POPULATION : <input type="text" name="c_population" value={{ temp_dic.Population }} required></label>
        <br>
        <input type="submit" value="수정"> 
        <input type="reset" value="취소">
      </form>
      <p><a href="/">취소</a></p>
</body>
</html>